<div class="addMenu">
    <h3>ADD MENU</h3>
    <form class="addMenu" id="form-input" action='' method="post">
        <input type="hidden"  id="_id" name="_id"placeholder="status" required>
     <label class="text">Menu Item :         
        <input type="text"  id ="name" name="name"placeholder="name" required>
    </label>
        <label class="text">Price :
        <input type="text"  id="price" name="price"placeholder="price" required>
    </label>
        <label class="text_1">Status :
            <input type="text"  id="status" name="status"placeholder="status" required>
    </label>
    <label class="text_1">Remarks :
        <textarea type="text"  id="remarks" name="remarks"placeholder="status" required></textarea>
    </label>
        <button  class="add_btn" type="submit" value="Submit">Add Menu</button>
    </form>
</div>