<div class="aboutUs">
    <div class="aboutUsInfo">
        <h1>ABOUT US</h1>
        <p>Your satisfaction is our ultimate priority. <br>We aim at giving you the best service and meals</p>
        <p>We're located at 29 Alhaji street, Franco Estate. Accra, Ghana.</p>
    </div>

    <form action="" method="post" class="search">
        <input type="text" id="search" name="search" placeholder="search...">
        <button class="searchForm" type="Submit"><i class="fas fa-search"></i></button>
    </form>

</div>

<aside>
    <h4>OUR TEAM</h4>
    <div>
        <img src="" alt="">
        <p>C.E.O. Select Restaurant</p>
    </div>
    <div>
        <img src="" alt="">
        <p>Chief Chef Select Restaurant</p>
    </div>
    <div>
        <img src="" alt="">
        <p>C.F.O. Select Restaurant</p>
    </div>
</aside>

<div>
    <h4>Contact Us</h4>
    <p>0203789324</p>
    <p>selectrestaurant@gmail.com</p>
    <ul>
        <li>
            <a href="#"><i class='fab fa-twitter'></i></a>
        </li>
        <li>
            <a href="#"><i class='fab fa-facebook'></i></a>
        </li>
        <li>
            <a href="#"><i class='fab fa-behance'></i></a>
        </li>
        <li>
            <a href="#"><i class='fab fa-google-plus-g'></i></a>
        </li>
        <li>
            <a href="#"><i class='fab fa-linkedi'></i></a>
        </li>
        <li>
            <a href="#"><i class='fab fa-instagram'></i></a>
        </li>
        <li>
            <a href="#"><i class='fab fa-pinterest'></i></a>
        </li>
        <li>
            <a href="#"><i class='fab fa-flickr'></i></a>
        </li>
    </ul>
</div>

<div class="commentDisplay">

</div>